@use "../helpers" as *;

.banner {
    --offsetYBanner: #{rem(24)};

    margin-top: rem(100);
    padding-block: var(--offsetYBanner);

    @include tablet {
        --offsetYBanner: 0;
    }

    @include mobile {
        margin-top: rem(70);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-grey);
        border-radius: rem(45);
        padding-inline: rem(60);
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(26);
        align-items: start;
        max-width: rem(500);
    }

    &__image {
        margin-block: calc(var(--offsetYBanner) * -1);
    }
}