@use "../helpers" as *;

.section {
    --padding-y: var(--section-padding-y);

    padding-block: var(--padding-y);

    @include mobile {
        --padding-y: #{rem(60)};
    }

    &--hidden-x {
        overflow-x: hidden;
    }
}