@use "../helpers" as *;

.team-card {
    background-color: var(--color-grey);
    border: var(--border);
    border-radius: rem(45);
    padding: rem(40) rem(35) rem(64);
    box-shadow: var(--box-shadow);
    height: 100%;


    @include mobile-s {
        padding: rem(40) rem(50);
    }

    &__title {
        display: flex;
    }

    &__image {
        margin-right: rem(20);
    }

    &__info {
        align-self: end;
        margin-right: rem(10);
    }
    
    &__name {
        margin-top: rem(3);
        height: 100%;
        font-size: rem(20);
    }

    &__post {
        font-size: rem(18)
    }
    

    &__link {
        --size: #{rem(34)};

        @include square(var(--size));
        @include flex-center;

        color: var(--color-accent);
        background-color: var(--color-dark);
        margin-left: auto;
        align-self: start;
        border-radius: 50%;
        flex-shrink: 0;
    }

    &__body {
        margin-top: rem(28);
        padding-top: rem(28);
        border-top: var(--border);
        font-size: rem(18);
        
        @include mobile-s {
            margin-top: rem(20);
            padding-top: rem(20);
            font-size: rem(16);
        }
    }
}