@use "helpers" as *;

:root {
    --font-family-base: "Space Grotesk", sans-serif;

    --color-accent: #b9ff66;
    --color-dark: #191a23;
    --color-black: #000;
    --color-grey: #f3f3f3;
    --color-light: #fff;

    --container-width: #{rem(1240)};
    --container-padding-x: #{rem(20)};
    --section-padding-y: #{rem(70)};

    --border: #{rem(1)} solid var(--color-dark);
    --box-shadow: 0 #{rem(5)} 0 0 var(--color-dark);

    --transition-duration: 0.2s;
}
